<div id='ignore_black_lists' class='filter'>
	<input id='filter_ignore_black_lists' name='ignore_black_lists' class='enable_filter' type='checkbox' checked /> 
	<span class='filter_name'><%=l(:"cpm.label_ignore_black_lists")%></span> 
</div>