<input id='filter_project_manager' class='enable_filter' type='checkbox' checked /> 
<span class='filter_name'><%=l(:"cpm.label_project_manager")%></span> 
<select name='project_manager[]' class='filter_project_manager' size=10 multiple><%=options.html_safe%></select>