<div id='projects' class='filter'>
	<input id='filter_projects' class='enable_filter' type='checkbox' checked /> 
	<span class='filter_name'><%=l(:"cpm.label_projects")%></span> 
	<div class='filter_options'>
		<%= select_tag 'projects[]', options_for_select(@projects_options, selected: @projects_selected), class: 'filter_projects', multiple: true, size: 10 %>
		<div>
			<input type='checkbox' class='filter_projects show_all' name='show_all_projects' onclick='update_filter("projects",$("#projects input.show_all").is(":checked"),$("#projects select.filter_projects").serializeArray());' <% if params['show_all_projects']=='true' %> checked  <% end %> >
			<span class='filter_projects'><%=l(:"cpm.label_show_banned")%></span>
		</div>
	</div>
</div>