<input id='filter_time_unit' class='enable_filter' type='checkbox' checked /> 
<span class='filter_name'><%=l(:"cpm.label_time_unit")%></span>
<select name='time_unit' class='filter_time_unit'>
	<option value='day'><%=l(:"cpm.label_day")%></option>
	<option value='week'><%=l(:"cpm.label_week")%></option>
	<option value='month'><%=l(:"cpm.label_month")%></option>
</select>