<div id='time_unit_num' class='filter'>
	<input id='filter_time_unit_num' class='enable_filter' type='checkbox' checked /> 
	<span class='filter_name'><%=l(:"cpm.label_time_unit_num")%></span>
	<input name='time_unit_num' type='text' value='<%=@value%>' size='5' class='filter_time_unit_num' />
</div>