<div class="tabs">
	<ul>
		<li>
	  	<%= link_to t(:"cpm.label_management"), 
	  		{:controller => 'cpm_management', :action => 'show'}, 
	  		:class => selected_tab_class('show') 
	  	%>
		</li>
		<li>
  		<%= link_to t(:"cpm.label_assignments"), 
  			{:controller => 'cpm_management', :action => 'assignments'}, 
  			:class => selected_tab_class('assignments') 
  		%>
  	</li>
	</ul>
</div>