/* Filters */
.filter_name{
	display:inline-table;
	width:140px;
}

#active_filters select{
	max-width:220px;
}

.filter_options{
	display:inline-table;
}

.filter{
	margin-bottom:15px;
}

#submit_filters{
	margin-bottom:15px;
}


/* Table */
div#content_capacity_results{
	overflow-x:scroll;
}

td div.bar_background{
	background: #ffc060;
	height:50px;
	width:100%;

}

td.alert div.bar_background{
	background: #ff5040;
	height:50px;
	width:100%;

}

td div.bar_empty{
	background: #cecefe;
	width:100%;
}

#capacity_results tbody tr.odd:hover{
	background-color:#f6f7f8 !important; 
}

#capacity_results tbody tr.even:hover{
	background-color:#fff !important;
}

#capacity_results tbody td:hover{
	background-color:#ffffdd;
}

.alert{
	color:red;
}

#capacity_results th.day.weekend, #capacity_results td.day.weekend{
	border-right:3px dashed #66ff66;
}

#capacity_results td{
	padding:2px;
}

#capacity_results th.month{
	min-width:130px;
}


/* Modal */
#capacity_modal_content{
	margin-top:10px;
	margin-bottom:15px;
}

#new_assignment{
	margin-top:15px;
}

div.assignment_form{
	margin-top:8px;
	clear:both;
}

div.assignment_form span{
	margin-right:10px;
}

td.username_field{
	vertical-align: middle !important;
}

td.knowledge, th.knowledge{
	display: none;
}

td.knowledge{
	vertical-align: middle !important;
}




div.edit_row_content{
	display:inline;
	float:left;
}

div.edit_row_options{
	display:inline;
	float:right;
}


/* Plugin Knowledge Manager */
.main_knowledge{
	background-color:#FE8;
}