/* Left side */
.userdiv{
	padding-top:2.5%;
}

.userdiv div{
	float:left;
	width:12%;
}

.userdiv div select{
	width:200%;
}

.projectdiv{
	padding-top:2.5%;
	clear:both;
}

.projectdiv div{
	float:left;
	width:12%;
}

.projectdiv div select{
	width:200%;
}

.capacitydiv{
	padding-top:2.5%;
	clear:both;	
}

.capacitydiv div{
	float:left;
	width:12%;
}

.capacitydiv div input{
	width:196%;
}

/* Right side */
.startdatediv{
	padding-top:2.5%;
}

.startdatediv div{
	float:left;
	width:12%;
}

.startdatediv div input{
	width:196%;
}

.duedatediv{
	padding-top:2.5%;
	clear:both;
}

.duedatediv div{
	float:left;
	width:12%;
}

.duedatediv div input{
	width:196%;
}

.assigndiv{
	padding-top:2.5%;
	clear:both;
	width:12%;
}


